p,input,button{
	font-family: "Prompt";
	font-size:15px;

}

@font-face {
	font-family: "Prompt";
	src: url('/police/prompt/Prompt-Regular.ttf');
}

.loginBox{
	margin-left: 50%;
	left:-200px;
	top:20vh;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 400px;
	width:400px;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
  	box-shadow: 0px 0px 50px rgba(255,255,255,0.8);
  	background: white;
  	opacity: 0.85;

	
}

#Bouton{
	background: url('flèche-droite.png');
	width:20px;
	height:20px;
	position: absolute;
	top: 5px;
	right: 5px;

}

#Bouton2{
	background: url('flèche-droite.png');
	width:20px;
	height:20px;
	position: absolute;
	top: 5px;
	left: 5px;

}

#logo{

	height: 40%;
	width: 40%;

}

#loginForm{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;


}

.form-style-8{
	margin:auto;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	align-items: center;

	
	
}

.fieldlogin{
	margin:10px;
}



#registerText{
	margin-top: 40px;
	color: rgba(120,120,120);

}

button,
      button::after {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      }
      button {
      background: none;
      border: 4px solid #000;
      border-radius: 10px;
      color: #000;
      text-transform: uppercase;
      }
      button::before,
      button::after {
      background: #000;
      content: '';
      position: absolute;
      z-index: -1;
      }
      button:hover {
      background-color: #000; 
      color: #29f2e4;
      }
      
      #loginButton::after {
      left: 0;
      top: 0;
      width: 0;
      }
      #loginButton:hover:after {
      }





.form-style-8 input[type=text], 
.form-style-8 input[type=password]{
	border-radius: 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px red blue;
	padding: 3px;							
	-webkit-transition: all 0.10s ease-in-out;
	-moz-transition: all 0.10s ease-in-out;
	-ms-transition: all 0.10s ease-in-out;
	-o-transition: all 0.10s ease-in-out;
	outline: none;	
}

.form-style-8 input[type=password]{
	margin-bottom: 25px;
}

.form-style-8 input[type=text]:focus, 
.form-style-8 input[type=password]:focus{
	-moz-box-shadow: 0 0 8px cyan;
	-webkit-box-shadow: 0 0 8px black;
	box-shadow: 0 0 8px grey;
	border: 2px solid grey;
}


