
#Username{
	margin-right: 15px;



}

#logo{
	margin-top: 1px;
	height: 50%;
	width: 50%;

}

.loginBox{
    background-color: rgb(210,210,210);
    padding: 10px 0 40px;
    border-radius: 8px;
    margin-left: auto;
  	margin-right: auto;
  	height: 220px;
  	width: 300px;
  	justify-content: center;
 }


}
.form{
  margin-left: 4%;

  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.field{
	height: 9px;
	width:146px;
	margin-right: 7%;

}



#loginButton{
	width: 50px;
	height: 25px;
	margin-left: 35%;

}

#registerButton{
	width: 55px;
	height: 25px;
	margin-left: 35%;

}

#registerText{
	margin-top: 10%;
	margin-right: 2%;
	text-align: center;

}



