
#Username{
	margin-right: 15px;



}

#logo{
	right: 40px;
	height: 50%;
	width: 50%;


}

.loginBox{
	position: absolute;
    background-color: rgb(210,210,210);
    padding: 10px 10px 10px 30px;
    border-radius: 8px;
    margin-left:  40%;
    margin-right: 40%;
  	bottom: 40%;
  	height: 250px;
  	width: 250px;

}


}


.field{
	position: relative;
	left : 5px;

}



#loginButton{
	background-color: white;
	border-radius: 6px;
	width: 50px;
	height: 25px;
	margin-left: 35%;

}

#registerButton{
	width: 55px;
	height: 25px;
	margin-left: 35%;

}

#registerText{
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: center;

}



