<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Bienvenue sur Machina</title>
    <link rel="stylesheet" href="../public/accueil/css/accueil.css"> <!--link with the CSS page-->
</head>


<body>
    <div> <!--Logo of the page-->
    <img src="../machina_logo.png" alt="Logo machina"  height="300" width="300" title="Je te l'accorde, ce logo est monstreux ! Il a été fait par une machine aussi ! En même temps, il n'y a que des machines ici !">
    </div>

    <!--Title-->
    <h1>Machina !!</h1>
    
    <!--formulary for the requested travel-->
    <form action="page2.html" method="get">
        <fieldset>
            <legend>Where do you want to go ?</legend>
            <label>From :</label>
            <select id="from" name="from">
                <option value="brest">Brest</option>
                <option value="paris">Paris</option>
            </select>
            <br />
            <label>To :</label>
            <select id="to" name=to>
               <option value="paris">Paris</option>
               <option value="brest">Brest</option>
            </select>
            <br />
            <label>Outbound:</label>
            <input id="outbound" name="outbound" type="text" />

                <br />
            <label>At :</label>
            <input id="at" name="at" type="text" />
        </fieldset>
    </form>

    <!--Button of research-->
    <input type="submit" value="Search" onclick="return VerifierFormulaire()" />
    
    <!--Description-->
    <p>Machina le logiciel de Machine Learning fait par des machines, pour des machines !! <br /> Si tu viens sur ce site c'est que : </p>
    <ul>
        <li>Tu es une machine </li>
        <li>Tu en as marre de te faire baiser par la SCNF</li>
        <li>Tu veux baiser la SCNF</li>
    </ul>

    <!--Pied de page-->
    <footer>
        <p>Machina le logiciel de Machine Learning fait par des machines, pour des machines !! </p>
    </footer>

    <!--<p><img src="../machina_logo.png" class="dessous" alt="Image flottante" height="300" width="300" /> </p>-->
</body>
</html>
