<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome to Machina</title>
    <link rel="stylesheet" href="/accueil/css/accueil.css"> 
    <link rel="stylesheet" href="/login/css/style.css">
</head>


<body id="particles-js">
    <header>
        <p> 
            <img src="/machina_logo2.png" alt="Logo_machina"  height="300" width="300" title="Je te l'accorde, ce logo est monstreux ! Il a été fait par une machine aussi ! En même temps, il n'y a que des machines ici !"></p>
    </header>

    <div class="loginBox">
        <section>
            <h1>Convert handwritten documents in Word file</h1>
            <p>Convert handwitten documents in  </p>
            <a href="#" class="bouton_rouge">Download an image <img id="centerleft" src="/download2.jpg" alt="download" height="30" width="30"></a>
    </section>


</div>

    <footer>

    </footer>

    <!--<p><img src="../machina_logo.png" class="dessous" alt="Image flottante" height="300" width="300" /> </p>-->
</body>
</html>
