<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>Bienvenue sur Machina</title>
    <link rel="stylesheet" href="../public/accueil/css/accueil.css"> <!--link with the CSS page-->
</head>

<!--Tête de page-->
<header>
</header>

<!--TEEEEEEEEEEEESSTT-->
<nav>
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="forum.html">Forum</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>

<section class="floatingright">
    <h3>Ma section de page</h3>
    <p>Bla bla bla bla</p>
</section>

<!--Informations complémentaires-->
<aside class="floatingright">
    <h3>infos complémentaires</h3>
    <p>Bla bla bla bla</p>
</aside>

<body>
    <div> <!--Logo of the page-->
    <img src="../machina_logo.png" alt="Logo machina"  height="300" width="300" title="Je te l'accorde, ce logo est monstreux ! Il a été fait par une machine aussi ! En même temps, il n'y a que des machines ici !">
    </div>

    <!--Title-->
    <h1>Machina !!</h1>

    <!--formulary for the requested travel-->
    <form action="page2.html" method="get">
        <fieldset>
            <legend>Where do you want to go ?</legend>
            <label>From :</label>
            <select id="from" name="from">
                <option value="brest">Brest</option>
                <option value="paris">Paris</option>
            </select>
            <br />
            <label>To :</label>
            <select id="to" name=to>
               <option value="paris">Paris</option>
               <option value="brest">Brest</option>
            </select>
            <br />
            <label>Outbound:</label>
            <input id="outbound" name="outbound" type="text" />

                <br />
            <label>At :</label>
            <input id="at" name="at" type="text" />
        </fieldset>
    </form>

    <!--Button of research-->
    <input type="submit" value="Search" onclick="return :) VerifierFormulaire()" />

    <!--Description-->
    <h2>Machina le logiciel de Machine Learning fait par des machines, pour des machines !! <br /> Si tu viens sur ce site c'est que : </h2>
    <ul>
        <li>Tu es une machine </li>
        <li>Tu en as marre de te faire baiser par la SCNF</li>
        <li>Tu veux baiser la SCNF</li>
    </ul>

    <!--Pied de page-->
    <footer>

    </footer>

    <!--<p><img src="../machina_logo.png" class="dessous" alt="Image flottante" height="300" width="300" /> </p>-->
</body>
</html>
