<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Machina</title>
        <link rel="stylesheet" href="/admin/css/admin.css">
    </head>


    <body>
  <div id="nav">
    <a class="link" id="loginLink" href="login.html"><img id="disconnectButton" src="/disconnectButton.png"/></a>
    <a class="link" id="statLink" href=""><img id="statButton" src="/statButton.png"/></a>
    <a class="link" id="searchLink" href="accueil.html"><img id="searchButton" src="/searchButton.png"/></a>
  </div>

<div class="container" >

  <img id="logo" src="/machina_logo.png" alt="Machina_Logo" title="Machina, a Machine Learning application, made by machines, for machines"  />
  <div class="boxstyle" id ="user_Box">
    <section>
      <div>
        <h2 id="title1">Users management :</h2>
          <div>
            <h1> Users Ban :</h1>
            <input placeholder="Mail Address "  id="mailBan" name="mailBan" type="text" autocapitalize="off" autocorrect="off"/>
            <input placeholder="Reason "  id="reasonBan" name="reasonBan" type="text" autocapitalize="off" autocorrect="off"/>
            <button id="validate" name="validateButton" onclick = ''>Validate</button>
          </div>

      </div>

      <div class="download">
        <form action="/upload" method = "POST" enctype="multipart/form-data">

        </form>
      </div>
    </section>

    <div id="download">



    </div>

  </div>


</div>
</body>
</html>
