<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Machina</title>
        <link rel="stylesheet" href="/admin/css/admin.css">
    </head>


    <body>

        <div class="container" >
            <div class="leftcontainer">
                <div class="boxstyle" id ="user_Box">

                    <h1> Users Management </h1>

                    <div id="user_function">
                        <div id="user_management">
                            <p> lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                            </p>
                        </div>

                        <div id="user_removal">
                            <p> Select the user to remove : </p>
                            <select id="remove_user_select">

                            </select>
                            <button id="removeButton" name="removeButton" onclick = ''>Remove</button>
                        </div>

                    </div>

                </div>
                <div class="boxstyle" id ="website">
                    <h1> Website Management </h1>

                    <div id="website_function">
                        <div id="website_management">
                            <p> lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                            </p>
                        </div>

                        <div id="website_removal">
                            <p> lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                                lalalalalalalalalalallalala</br>
                            </p>

                        </div>

                    </div>


                </div>
            </div>
            <div class="rigthcontainer">
                <div class="boxstyle" id ="myAccountBox">

                </div>
                <div class="boxstyle" id ="navigationBox">
                    <button class="navCase" id ="navigation1">
                        Research
                    </button>
                    <div class="navCase" id ="navigation2">
                        The method
                    </div>
                    <div class="navCase" id ="navigation3">
                        Photos
                    </div>
                    <div class="navCase" id ="navigation4">
                        The team
                    </div>
                    <div class="navCase" id ="navigation5">
                        Fun facts
                    </div>
                    <div class="navCase" id ="navigation6">
                        Fun animation
                </div>
            </div>
        </div>
    </body>
</html>
