<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Machina</title>
        <link rel="stylesheet" href="/admin/css/admin.css">
        <script src="/admin/js/admin.js"></script>
    </head>


    <body>
  <div id="nav">
    <a class="link" id="loginLink" href="login.html"><img id="disconnectButton" src="/disconnectButton.png"/></a>
    <a class="link" id="statLink" href=""><img id="statButton" src="/statButton.png"/></a>
    <a class="link" id="searchLink" href="accueil"><img id="searchButton" src="/searchButton.png"/></a>
  </div>

<div class="container" >

  <img id="logo" src="/machina_logo.png" alt="Machina_Logo" title="Machina, a Machine Learning application, made by machines, for machines"  />
  <div class="boxstyle" id ="user_Box">
    <section>
      <div>
        <h1 id="title1">Users management :</h1>
          <div id="banBox">
            <h3> Users Ban :</h3>
            <div>
            <input placeholder="Mail Address "  id="mailBan" name="mailBan" type="text" autocapitalize="off" autocorrect="off"/>
            <input placeholder="Reason "  id="reasonBan" name="reasonBan" type="text" autocapitalize="off" autocorrect="off"/>
            </div>
            <button id="ban" name="banButton" onclick = 'funcBan()'>Ban</button>
          </div>

      </div>

      <div class="download">
        <form action="/upload" method = "POST" enctype="multipart/form-data">

        </form>
      </div>
    </section>

    <div id="download">
      <div id="unbanBox">
            <h3 id="unbantext"> Users Unban :</h3>
            
      <input placeholder="Mail Address "  id="mailUnban" name="mailUnban" type="text" autocapitalize="off" autocorrect="off"/>
      
 
      <button id="unban" name="unbanButton" onclick = 'funcUnban()'>Unban</button>
      </div>
    </div>

  </div>


</div>
</body>
</html>
