
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Machina</title>
        <link rel="stylesheet" href="../public/login/css/login.css">
        <script type="../public/login/js/login.js"></script>
    </head>


    <body>
    <div class="window">
    	
        <div class="loginBox">
    		<img class="logo" src="../machina_logo.png" alt="Machina_Logo" title="Machina, a Machine Learning application, made by machines, for machines"  />
    		<div class="form">
                <form action="" method="post">
                <label for="username">Username :</label>
        	    <input id="username" class="LoginField" name="username" type="text" autocapitalize="off" autocorrect="off"/></br>
    		    <label for="username"> Password : </label>
       	 	    <input id="password" class="PasswordField" name="password" type="Password" autocapitalize="off" autocorrect="off"/></br>

        	    <input type="submit" class="loginButton" value="Log In">
                </form>
            </div>
                <p class="registerBox"> You are a new Machina ? Please sign up <a href="register.html" >here</a> </p> 
                <!--onclick=return register()-->
        </div>
        
      
        

    </div>
    </body>
</html>
