
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Machina</title>
        <link rel="stylesheet" href="../public/login/css/login.css">
        <script src="../public/login/js/login.js"></script>
        <script src="http://floriancordillot.fr/lab/canvas-particles/public/js/app.min.js"></script>
    </head>


    <body >
    <div class="window">

        <div id ="loginBox" class="loginBox">
    		<img id="logo" src="../machina_logo.png" alt="Machina_Logo" title="Machina, a Machine Learning application, made by machines, for machines"  />
    		<div id="loginForm" class="form">
                <form action="/login" method="POST">
                    <label  >Username :</label>
                    <input class="field" id="Username" name="Username" type="text" autocapitalize="off" autocorrect="off"/></br></br>
    		        <label > Password : </label>
       	 	        <input class="field" id="Password" name="Password" type="Password" autocapitalize="off" autocorrect="off"/></br>
        	        <input id="loginButton" name="loginButton" type="submit" value="Log In">
                </form>
                <p id="registerText"> You are a new Machina ? </br> Please sign up <a href='#' onclick= 'register()'>here</a> </p>

            </div>

            

        </div>

    </div>

    <div id="canvas-particles"></div>



    </body>
</html>
