
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Machina</title>
        <link rel="stylesheet" href="/login/css/login.css">
        <link rel="stylesheet" href="/login/css/style.css">
        <script src="/login/js/switchLogReg.js"></script>
        <script src="/login/js/login.js"></script>


    </head>


    <body id="particles-js" >

        <div id ="loginBox" class="loginBox">
                <img id="logo" src="/machina_logo.png" alt="Machina_Logo" title="Machina, a Machine Learning application, made by machines, for machines"  />
                <div id="loginForm" class="form">
                    <div class="form-style-8">
                    <input placeholder="Username " class="fieldlogin1" id="username" name="username" type="text" autocapitalize="off" autocorrect="off"/></br></br>
       	 	          <input placeholder="Password " class="fieldlogin2" id="password" name="password" type="password" autocapitalize="off" autocorrect="off"/></br>
        	          <button id="loginButton" name="loginButton" onclick = 'funcFetch()'>Log In</button>
                    </div>
                    <p id="registerText"> You are a new Machina ? Please sign up <a href='/register'>here</a> </p>
             </div>
        </div>
        <script src="/login/js/particles.js"></script>
        <script src="/login/js/app.js"></script>
    </body>
</html>
