<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Machina</title>
        <link rel="stylesheet" href="../public/register/css/register.css">
    </head>


    <body>
    <div class="window">
    	
        <div class="registerBox">
            <img class="logo" src="../machina_logo.png" alt="Machina_Logo" title="Machina, a Machine Learning application, made by machines, for machines"  />
            <div class="form">
                <label for="mailAddress">Mail address :</label>
                <input id="mailAddress" class="RegisterField" name="mailAddress" type="text" autocapitalize="off" autocorrect="off"/></br>

                <label for="username">Login :</label>
                <input id="username" class="LoginField" name="username" type="text" autocapitalize="off" autocorrect="off"/></br>

                <label for="password"> Password : </label>
                <input id="password" class="PasswordField" name="password" type="Password" autocapitalize="off" autocorrect="off"/></br>

                <label for="repassword"> Password : </label>
                <input id="repassword" class="rePasswordField" name="repassword" type="Password" autocapitalize="off" autocorrect="off"/></br>


                <input type="submit" class="RegisterButton" value="Register">
            </div>
        </div>

    </div>
    </body>
</html>
