
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Machina</title>
        <link rel="stylesheet" href="/login/css/login.css">
        <link rel="stylesheet" href="/login/css/style.css">
        <script src="/login/js/switchLogReg.js"></script>
        <script src="/login/js/login.js"></script>
        <script src="/login/js/register.js"></script>


    </head>


    <body id="particles-js" >
        <div id ="loginBox" class="loginBox">
                <img id="logo" src="/machina_logo.png" alt="Machina_Logo" title="Machina, a Machine Learning application, made by machines, for machines"  />
                <div id="registerForm" class="form">
                  <div class="form-style-8">
                    <input placeholder="Mail address" class="field" id="mailAddress" name="mailAddress" type="text" autocapitalize="off" autocorrect="off"/></br>
                    <input placeholder="Username" class="field" id="username" name="username" type="text" autocapitalize="off" autocorrect="off"/></br>
                    <input placeholder="Password " class="field" id="password1" name="password" type="password" autocapitalize="off" autocorrect="off"/></br>
                    <input placeholder="Repeat Password" class="field" id="password2" name="password" type="password" autocapitalize="off" autocorrect="off"/></br>
                    <button id="registerButton" name="registerButton" onclick = "postRegister()">Register
                    </button>
                    <p id="registerText"> You can log in <a href='/login'>here</a> </p>
                  </div>
            </div>
        </div>
        <script src="/login/js/particles.js"></script>
        <script src="/login/js/app.js"></script>
    </body>
</html>
