/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    /*background-image:url('../image/machina_logo.png');
    background-size: 1500px 1000px; 
    background-repeat: no-repeat;*/
    background-color: whitesmoke;/* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */
}

/*image*/
div
{
    text-align: center;
}

/*title*/
h1
{
    font-size: 3em;  /*size of the title*/
    color: rgb(228, 72, 44); /*color of the title*/
    font-family: Georgia, 'Times New Roman', Times, serif; /*policy of the title*/
    font-style: oblique; /*titre en italique*/
    font-weight: bold; /*titre en gras*/
    text-decoration: none; /*décoration : souligner, barrer,...*/
    text-align: center; /*title alignement*/

}

/*paragraph*/
h2
{
    font-size: 1em;
    font-weight: normal;
    color: rgb(81, 81, 199);
    opacity: 0.6;
    text-align: left;
    border-left: 2px double black;
    border-right: 2px double black;
    border-top: 2px double black;
    border-bottom: 2px double black;
    border-radius: 10px;
    box-shadow: 6px 6px 6px black;
    filter: alpha(opacity=10);
    
}

/*put an image below a text*/
.dessous
{
    clear: both;
}

/*classe permettant de faire flotter un texte ou image à gauche*/
.floatingleft
{
    float: left;
}

/*classe permettant de faire flotter un texte ou image à droite*/
.floatingright
{
    float: right;
}
